<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.com.flag.pl1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn" />
        <activity android:name=".CenterPage" />
        <activity android:name=".BookSearching" />
        <activity android:name=".Reminder" />
        <activity android:name=".MyBook" />
        <activity android:name=".Activities" />
        <activity android:name=".BookSearchResult" />
        <activity android:name=".BookSearchResultDatils" />
        <activity android:name=".Borrower" />
        <activity android:name=".Chat" />
        <activity android:name=".MyAccount" />
        <activity android:name=".Message" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Feedback" />
        <activity android:name=".ThankFeedback"></activity>
    </application>

</manifest>